{% if latest_bet_list %}
    <ul>
    {% for bet in latest_bet_list %}
        <li><a href="/euro21/{{ bet.id }}">{{ bet.bet_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bets are available.</p>
{% endif %}

{% if latest_group_picks_A %}
    <ul>
    {% for eachpick in latest_group_picks_A %}
        {{ eachpick.name }}
        {{ eachpick.pick }}
    {% endfor %}
    </ul>
{% else %}
    <p>No picks are available.</p>
{% endif %}

{% if latest_group_picks_A0 %}
    <body>
        <h1>EURO2020 GROUP PICKS AND STANDINGS</h1>
        <!--Ro16 table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Total points 
                </td>
                {% for eachpick in overall_total_points %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Round of 16: 1 point for correct pick, 1 point for loyalty
                </td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Round of 16 points 
                </td>
                {% for eachpick in ro16_total_points %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_0 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_0 }}
                </td>
                {% for eachpick in latest_ro16_picks_0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_1 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_1 }}
                </td>
                {% for eachpick in latest_ro16_picks_1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_2 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_2 }}
                </td>
                {% for eachpick in latest_ro16_picks_2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_3 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_3 }}
                </td>
                {% for eachpick in latest_ro16_picks_3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_4 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_4 }}
                </td>
                {% for eachpick in latest_ro16_picks_4 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_5 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_5 }}
                </td>
                {% for eachpick in latest_ro16_picks_5 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_6 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_6 }}
                </td>
                {% for eachpick in latest_ro16_picks_6 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                    Loyal to
                </td>
                {% for eachpick in latest_ro16_loyalty_7 %}
                    <td align="center" height="5" width="100" bgcolor="#000000" style="color:rgb(188, 188, 196)"> 
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ ro16_games_7 }}
                </td>
                {% for eachpick in latest_ro16_picks_7 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick }}
                    </td>
                {% endfor %}
            </tr>
            <tr><td></td></tr>
        </table>
        <div style = "clear:both;"></div>
        
        <!--Group A table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Group A
                </td>
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_A0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_A1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_A2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_A3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div style = "clear:both;"></div>
        <!--Group B table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Group B
                </td>
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_B0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_B1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_B2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_B3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div style = "clear:both;"></div>
        <!--Group C table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Group C
                </td>
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_C0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_C1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_C2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_C3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div style = "clear:both;"></div>
        <!--Group D table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Group D
                </td>
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_D0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_D1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_D2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_D3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div style = "clear:both;"></div>
        <!--Group E table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Group E
                </td>
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_E0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_E1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_E2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_E3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div style = "clear:both;"></div>
        <!--Group F table-->
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Group F
                </td>
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_F0 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_F1 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_F2 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for eachpick in latest_group_picks_F3 %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)">
                        {{ eachpick.pick }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div style = "clear:both;"></div>
        <table border="5" cellspacing="0" align="left" bgcolor="#ffffff">
            <tr>
                <td align="center" height="50" width="100">
                    Actual
                </td>
                <td align="center" height="50" width="100">
                    Volkan
                </td>
                <td align="center" height="50" width="100">
                    Evgueni
                </td>
                <td align="center" height="50" width="100">
                    Ramraj
                </td>
                <td align="center" height="50" width="100">
                    Ram
                </td>
                <td align="center" height="50" width="100">
                    Peter
                </td>
                <td align="center" height="50" width="100">
                    Fadi
                </td>
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Points 
                </td>
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ "" }}
                </td>
                {% for eachplayer in group_points %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachplayer }}
                    </td>
                {% endfor %}
            </tr>
            <tr bgcolor="#f00913">
                <td align="center" height="25" width="100" colspan="7">
                    Accuracy Meter 
                </td>
            </tr>
            <tr bgcolor="#f00913">
                <td align="center" height="25" width="100" colspan="7">
                    Example: Fadi = 11/16 accurate positions + 14/16 accurate teams = 25/32 = 78%
                </td>
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ "" }}
                </td>
                {% for eachplayer in acc_percentage %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachplayer }}
                    </td>
                {% endfor %}
            </tr>
            
            <tr bgcolor="#f00913">
                <td align="center" height="25" width="100" colspan="7">
                    Bonus points for top 1 and 2 most accurate players
                </td>
            </tr>
            
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ "" }}
                </td>
                {% for eachplayer in bonus_points %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachplayer }}
                    </td>
                {% endfor %}
            </tr>
            <tr bgcolor="#fdb913">
                <td align="center" height="25" width="100" colspan="7">
                    Total 
                </td>
            </tr>
            <tr>
                <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                    {{ "" }}
                </td>
                {% for eachplayer in total_points %}
                    <td align="center" height="30" width="100" bgcolor="#000000" style="color:rgb(155, 155, 216)"> 
                        {{ eachplayer }}
                    </td>
                {% endfor %}
            </tr>
            </table>
    </body>
{% else %}
    <p>No picks are available.</p>
{% endif %}


